<%= title "About" %>

<div class="relative flex flex-col items-center w-full h-full font-karla">
 <div class="absolute left-0 bottom-0 z-0 w-full max-w-[430px] h-[228px] bg-no-repeat bg-cover" style="background-image: url(<%= asset_path 'intersection_lines.svg' %>)"></div>
 <div class="flex flex-col items-center w-full h-full px-5 pt-6 pb-10 bg-gradient-to-r from-blue-marine from-[16.68%] to-[#001827] to-[99.85%] bg-no-repeat">
    <div class="z-10 flex flex-col justify-center h-full font-light text-center max-w-screen-sm">
      <p class="mb-6 text-base text-white">Brought to you by</p>
      <a href="https://www.teloslabs.co/?utm_source=rails_world_app&utm_medium=affiliate&utm_campaign=rails_world_app">
        <%= inline_svg_tag "telos_labs_logo.svg", class: "mb-10 w-full" %>
      </a>
      <p class="mb-6 text-lg text-white leading-6">
        We designed and developed this open-source app for the Rails community.
        <br>
        You can contribute to the repo <a href="https://github.com/TelosLabs/rails-world" target="_blank" class="font-normal text-blue-teal">here</a>.
      </p>
      <p class="mb-10 text-lg text-white leading-6">Telos creates disruptive, purpose-driven software for visionary clients to enhance productivity and enrich lives.</p>
      <div class="flex flex-row items-center w-full gap-5">
        <a href="https://www.teloslabs.co/?utm_source=rails_world_app&utm_medium=affiliate&utm_campaign=rails_world_app" target="_blank" class="grow bg-blue-teal rounded-[10px] p-4 flex flex-row items-center justify-center">
          <%= inline_svg_tag "icon_web.svg", class: "w-6 h-6" %>
        </a>
        <a href="https://www.linkedin.com/company/telos-labs" target="_blank" class="grow bg-blue-teal rounded-[10px] p-4 flex flex-row items-center justify-center">
          <%= inline_svg_tag "icon_linkedin.svg", class: "w-6 h-6" %>
        </a>
        <a href="https://github.com/TelosLabs/rails-world" target="_blank" class="grow bg-blue-teal rounded-[10px] p-4 flex flex-row items-center justify-center">
          <%= inline_svg_tag "github.svg", class: "w-6 h-6" %>
        </a>
      </div>
      <%= link_to "Privacy Policy", privacy_policy_path, class: "text-blue-teal mt-10" %>
    </div>
  </div>
</div>

<% content_for :bottom_nav do %>
  <%= render partial: "layouts/bottom_navbar", locals: { unread_notifications: current_user&.notifications&.unread } %>
<% end %>
