<div class="flex items-center p-4 bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow" data-test-id="profile-card">
  <% if profile.image.attached? %>
    <div class="w-16 h-16 mr-4 bg-cover bg-center rounded-full shrink-0" style="background-image: url(<%= url_for(profile.image) %>)"></div>
  <% else %>
    <div class="w-16 h-16 mr-4 rounded-full bg-slate-300 p-2 flex items-center justify-center shrink-0">
      <%= image_tag url_for("icons/user_avatar.svg"), class: "w-full h-full" %>
    </div>
  <% end %>

  <div class="flex flex-col flex-1 min-w-0">
    <%= link_to profile_path(profile.uuid), class: "text-lg font-bold text-red italic truncate underline hover:text-red/80", data: { turbo_frame: "_top" } do %>
      <%= profile.name.presence || "Anonymous" %>
    <% end %>
    
    <% if profile.job_title.present? %>
      <div class="text-sm text-gray-500 truncate">
        <%= profile.job_title %>
      </div>
    <% end %>
  </div>
</div>