<div class="bg-purple-dark w-full flex flex-col items-center justify-center">
  <div class="flex flex-col p-4 w-full border-t b-white max-w-screen-sm">
    <h1 class="text-4xl text-white mb-6 font-black w-full">Set up your account</h1>

    <%= form_with model: @profile, class: "flex flex-col items-center" do |form| %>
      <div class="relative" data-controller="image-previewer">
        <%= form.label :image, class: "overflow-hidden relative font-bold text-white text-base w-32 h-32 bg-white cursor-pointer rounded-full flex flex-col items-center justify-center" do %>
          <%= form.file_field :image, data: {image_previewer_target: "input"}, accept:"image/*,image/apng,image/avif,image/gif,image/gif,image/jpeg,image/png,image/svg+xml", class: "text-white border-2 border-white bg-transparent rounded-sm hidden mb-6 focus:outline-none focus:outline-0 focus:ring-0 focus:border-2 focus:border-white active:border-2 active:border-white" %>
          <% if @profile.image.present? %>
            <%= image_tag @profile.image, data: {image_previewer_target: "hideOnLoad"}, class: "absolute" %>
          <% else %>
            <%= image_tag url_for("camera.svg"), data: {image_previewer_target: "hideOnLoad"} %>
          <% end %>
          <div class="absolute" data-image-previewer-target="onRemoveImagePlaceholderContainer"></div>
          <%= image_tag "", data: {image_previewer_target: "image"}, class: "hidden absolute" %>
        <% end %>
        <%= inline_svg_tag "icon_delete_photo.svg", data: {action: "click->image-previewer#removeImage", image_previewer_target: "deleteIcon" }, class: "cursor-pointer absolute top-[5px] right-[5px] w-6 h-6", style: @profile.image.present? ? "display:block;" : "display:none;" %>
        <div class="hidden" data-image-previewer-target="onRemoveImageContainer"></div>
        <template data-image-previewer-target="onRemoveImagePlaceholderTemplate">
          <%= image_tag url_for("camera.svg") %>
        </template>
        <template data-image-previewer-target="onRemoveImageTemplate">
          <%= form.hidden_field :remove_image, value: "true" %>
        </template>
      </div>
      <div class="flex flex-col items-start w-full w-full">
        <%= render partial: "shared/form_errors", locals: { errors: form.object.errors.full_messages } %>

        <%= form.label :name, class: "font-bold text-white text-base mb-2" %>
        <%= form.text_field :name, class: FormsHelper::TEXT_FIELD_CLASSES + " mb-6" %>

        <%= form.label :bio, class: "font-bold text-white text-base mb-2" %>
        <%= form.text_area :bio, class: FormsHelper::TEXT_FIELD_CLASSES + " mb-6", placeholder: "Short bio" %>

        <%= form.label :location, class: "font-bold text-white  text-base mb-2" %>
        <%= form.text_field :location, class: FormsHelper::TEXT_FIELD_CLASSES + " mb-6", placeholder: "Location" %>

        <%= form.label :github_url, "GitHub", class: "font-bold text-white text-base mb-2" %>
        <%= form.text_field :github_url, class: FormsHelper::TEXT_FIELD_CLASSES + " mb-6", placeholder: "GitHub link" %>

        <%= form.label :linkedin_url, "LinkedIn", class: "font-bold text-white text-base mb-2" %>
        <%= form.text_field :linkedin_url, class: FormsHelper::TEXT_FIELD_CLASSES + " mb-6", placeholder: "LinkedIn link" %>

        <%= form.label :twitter_url, "X (formerly Twitter)", class: "font-bold text-white text-base mb-2" %>
        <%= form.text_field :twitter_url, class: FormsHelper::TEXT_FIELD_CLASSES + " mb-6", placeholder: "X link" %>

        <p class="text-white font-bold">Discoverability</p>
        <div class="flex flex-row items-center bg-white justify-between rounded-md w-full p-4">
          <%= form.label :is_public, "Public profile", class: "grow font-medium text-slate-900 text-base cursor-pointer mr-2" %>
          <label class="inline-flex items-center cursor-pointer">
            <%= form.check_box :is_public, class: "sr-only peer" %>
            <div class="relative w-11 h-6 bg-gray-6 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-red dark:peer-focus:ring-red rounded-full peer dark:bg-slate-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-slate-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-slate-600 peer-checked:bg-red"></div>
          </label>
        </div>
        <p class="text-xs text-white mb-6">Allow other persons to view your profile through a QR code.</p>

        <p class="text-white font-bold">Notifications</p>
        <div class="rounded-md w-full overflow-hidden mb-10">
          <div class="flex flex-row items-center bg-white justify-between w-full p-4 border-b border-gray-6">
            <%= form.label :mail_notifications, "Mail notifications", class: "grow font-medium text-slate-900 text-base cursor-pointer mr-2" %>
            <label class="inline-flex items-center cursor-pointer">
              <%= form.check_box :mail_notifications, class: "sr-only peer" %>
              <div class="relative w-11 h-6 bg-gray-6 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-red dark:peer-focus:ring-red rounded-full peer dark:bg-slate-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-slate-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-slate-600 peer-checked:bg-red"></div>
            </label>
          </div>
          <div class="flex flex-row items-center bg-white justify-between w-full p-4">
            <%= form.label :in_app_notifications, "In-app notifications", class: "grow font-medium text-slate-900 text-base cursor-pointer mr-2" %>
            <label class="inline-flex items-center cursor-pointer">
              <%= form.check_box :in_app_notifications, class: "sr-only peer" %>
              <div class="relative w-11 h-6 bg-gray-6 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-red dark:peer-focus:ring-red rounded-full peer dark:bg-slate-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-slate-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-slate-600 peer-checked:bg-red"></div>
            </label>
          </div>
        </div>
      </div>

      <%= form.submit "SAVE PROFILE", class:"w-full bg-red rounded-[10px] p-4 text-lg font-black text-white cursor-pointer" %>
      <%= link_to "Skip for now", root_path, class: "text-lg underline font-black italic text-white mt-10" %>
    <% end %>
  </div>
</div>
