<div class="bg-purple flex flex-col bg-slate-500 p-4 w-full">
  <h1 class="text-4xl text-white mb-6 font-black">Set up your account</h1>


  <%= form_with url: profile_path, method: :put, class: "flex flex-col" do |form| %> 
    <%= form.label :image, class: "font-bold text-white text-base" %>
    <%= form.file_field :image, class: "text-white border-2 border-white bg-transparent rounded-sm  mb-6 focus:outline-none focus:outline-0 focus:ring-0 focus:border-2 focus:border-white active:border-2 active:border-white" %>
    <%= image_tag url_for(@profile.image) if @profile.image.attached? %>
    <%= form.label :bio, class: "font-bold text-white text-base" %>
    <%= form.text_area :bio, value:  @profile.bio,class: "text-white border-2 border-white bg-transparent rounded-sm  mb-6 focus:outline-none focus:outline-0 focus:ring-0 focus:border-2 focus:border-white active:border-2 active:border-white"%>
    
    <%= form.label :name, class: "font-bold text-white  text-base"  %>
    <%= form.text_field :name, value:  @profile.name, class: "text-white border-2 border-white bg-transparent rounded-sm  mb-6 focus:outline-none focus:outline-0 focus:ring-0 focus:border-2 focus:border-white active:border-2 active:border-white"%>

    <%= form.label :location, class: "font-bold text-white  text-base"  %>
    <%= form.text_field :location, value:  @profile.location, class: "text-white border-2 border-white bg-transparent rounded-sm  mb-6 focus:outline-none focus:outline-0 focus:ring-0 focus:border-2 focus:border-white active:border-2 active:border-white"%>

    <%= form.label :github_url, class: "font-bold text-white text-base"  %>
    <%= form.text_field :github_url, value:  @profile.github_url, class: "text-white border-2 border-white bg-transparent rounded-sm  mb-6 focus:outline-none focus:outline-0 focus:ring-0 focus:border-2 focus:border-white active:border-2 active:border-white" %>

    <%= form.label :linkedin_url, class: "font-bold text-white text-base"  %>
    <%= form.text_field :linkedin_url, value:  @profile.linkedin_url, class: "text-white border-2 border-white bg-transparent rounded-sm  mb-6 focus:outline-none focus:outline-0 focus:ring-0 focus:border-2 focus:border-white active:border-2 active:border-white" %>
    
    <%= form.label :twitter_url, class: "font-bold text-white text-base"  %>
    <%= form.text_field :twitter_url, value:  @profile.twitter_url, class: "text-white border-2 border-white bg-transparent rounded-sm  mb-6 focus:outline-none focus:outline-0 focus:ring-0 focus:border-2 focus:border-white active:border-2 active:border-white" %>

    <p>Discoverability</p>
    <%= form.label :is_public, class: "font-bold text-white text-base"  %>
    <%= form.check_box :is_public, checked:  @profile.is_public || false, class: "text-white border-2 border-white bg-transparent rounded-sm  mb-6 focus:outline-none focus:outline-0 focus:ring-0 focus:border-2 focus:border-white active:border-2 active:border-white" %>
    <p class="text-xs" >Allow other persons to view your profile through a QR code.</p>

    
    <%= form.submit "Preview profile", class:"w-full bg-red-500 p-4 text-lg font-black text-white rounded cursor-pointer" %>
  <% end %>
</div>