<%= title "Edit profile" %>

<% content_for :top_nav do %>
  <%= render partial: "layouts/primary_top_nav" %>
<% end %>

<%= content_for(:head) do %>
  <%# Disabling morphing so that when an error occurs, the user is "redirected" to the top of the page %>
  <meta name="turbo-refresh-method" content="replace">
  <meta name="turbo-refresh-scroll" content="reset">
<% end %>

<div class="flex flex-col items-center justify-center w-full bg-purple-dark dark:bg-[#0f171b] pt-safe-area-header pb-safe-area-bottom-navbar">
  <div class="flex flex-col w-full p-4 max-w-screen-sm">
    <h1 class="w-full mb-6 text-3xl font-black text-white dark:text-lightcolor">Set up your account</h1>

    <%= form_with model: @profile, url: profile_path(@profile.uuid), class: "flex flex-col items-center" do |form| %>
      <div class="relative" data-controller="image-previewer">
        <%= form.label(
          :image,
          class: "overflow-hidden relative font-bold text-white text-base w-32 h-32 bg-white dark:bg-[#182027] dark:text-lightcolor
            cursor-pointer rounded-full flex flex-col items-center justify-center"
        ) do %>
          <%= form.file_field(
            :image,
            data: {image_previewer_target: "input"},
            accept:"image/*,image/apng,image/avif,image/gif,image/gif,image/jpeg,image/png,image/svg+xml",
            class: "text-white border-2 border-white bg-transparent rounded-sm hidden mb-6 focus:outline-none focus:outline-0 focus:ring-0 focus:border-2 focus:border-white active:border-2 active:border-white"
          ) %>
          <% if @profile.image.present? && @profile.image.persisted? %>
            <%= image_tag @profile.image, data: {image_previewer_target: "hideOnLoad"}, class: "absolute object-cover h-full w-full" %>
          <% else %>
            <%= image_tag url_for("camera.svg"), data: {image_previewer_target: "hideOnLoad"} %>
          <% end %>
          <div class="absolute" data-image-previewer-target="onRemoveImagePlaceholderContainer"></div>
          <%= image_tag "", data: {image_previewer_target: "image"}, class: "hidden absolute object-cover h-full w-full" %>
        <% end %>
        <%= inline_svg_tag(
          "icon_delete_photo.svg",
          data: {action: "click->image-previewer#removeImage", image_previewer_target: "deleteIcon" },
          class: "cursor-pointer absolute top-[5px] right-[5px] w-6 h-6",
          style: @profile.image.present? && @profile.image.persisted? ? "display:block;" : "display:none;"
        ) %>
        <div class="hidden" data-image-previewer-target="onRemoveImageContainer"></div>
        <template data-image-previewer-target="onRemoveImagePlaceholderTemplate">
          <%= image_tag url_for("camera.svg") %>
        </template>
        <template data-image-previewer-target="onRemoveImageTemplate">
          <%= form.hidden_field :remove_image, value: "true" %>
        </template>
      </div>
      <div class="flex flex-col items-start w-full">
        <%= render partial: "shared/form_errors", locals: { errors: form.object.errors.full_messages } %>

        <%= form.label :name, class: "font-bold text-white text-base mb-2 dark:text-lightcolor" %>
        <%= form.text_field :name, class: "w-full mb-6", placeholder: "John P. Doe" %>

        <%= form.label :bio, class: "font-bold text-white text-base mb-2 dark:text-lightcolor" %>
        <%= form.text_area :bio, class: "w-full mb-6", placeholder: "I'm a Ruby on Rails developer with six years of experience. Outside of work, I enjoy hiking and using dating apps.", rows: 3 %>

        <%= form.label :job_title, class: "font-bold text-white  text-base mb-2 dark:text-lightcolor" %>
        <%= form.text_field :job_title, class: "w-full mb-6", placeholder: "Senior Developer at Telos Labs" %>

        <%= form.label :github_url, "GitHub", class: "font-bold text-white text-base mb-2 dark:text-lightcolor" %>
        <%= form.text_field :github_url, class: "w-full mb-6", placeholder: "https://github.com/johnp" %>

        <%= form.label :linkedin_url, "LinkedIn", class: "font-bold text-white text-base mb-2 dark:text-lightcolor" %>
        <%= form.text_field :linkedin_url, class: "w-full mb-6", placeholder: "https://www.linkedin.com/in/johnp" %>

        <%= form.label :twitter_url, "X (formerly Twitter)", class: "font-bold text-white text-base mb-2 dark:text-lightcolor" %>
        <%= form.text_field :twitter_url, class: "w-full mb-6", placeholder: "https://x.com/johnp" %>

        <p class="mb-2 font-bold text-white dark:text-lightcolor">Discoverability</p>
        <div class="flex flex-row items-center justify-between w-full p-4 bg-white dark:bg-[#182027] rounded-md">
          <%= form.label :is_public, "Public profile", class: "grow font-medium text-slate-900 dark:text-lightcolor text-base cursor-pointer mr-2" %>
          <%= form.toggle_field :is_public %>
        </div>
        <p class="mt-1 mb-6 text-xs text-white">Allow other persons to view your profile through a QR code.</p>

        <p class="mb-2 font-bold text-white dark:text-lightcolor">Notifications</p>
        <div class="w-full mb-10">
          <div class="w-full overflow-hidden rounded-md">
            <div class="flex flex-row items-center justify-between w-full p-4 bg-white dark:bg-[#182027] border-b border-grey-300">
              <%= form.label :mail_notifications, "Mail notifications", class: "grow font-medium text-slate-900 dark:text-lightcolor text-base cursor-pointer mr-2" %>
              <%= form.toggle_field :mail_notifications %>
            </div>
            <div class="flex flex-row items-center justify-between w-full p-4 bg-white dark:bg-[#182027] d-hotwire-native-none">
              <%= form.label :web_push_notifications, "Web-push notifications", class: "grow font-medium text-slate-900 dark:text-lightcolor text-base cursor-pointer mr-2" %>
              <label>
                <%= form.toggle_field :web_push_notifications, class: "sr-only peer",
                  data: {web_push_notifications_target: "enableNotifications"} %>
              </label>
            </div>
          </div>
          <p class="hidden p-2 mt-6 text-sm font-medium bg-white dark:bg-[#182027] dark:text-lightcolor rounded-md notification-blocking-message">
            It looks like you've blocked notifications. To stay updated,
            please enable notifications in your browser settings.
          </p>
        </div>
      </div>

      <%= form.submit(
        "SAVE PROFILE",
        class: [
          "w-full bg-red dark:bg-off-red rounded-[10px] p-4 text-lg font-black text-white cursor-pointer",
          "disabled:bg-grey-400 disabled:cursor-not-allowed"
        ],
        data: { test_id: "save_profile_button" }
      ) %>

      <% if params[:onboarding].present? %>
        <%= link_to(
          "Skip for now", root_path,
          class: "text-lg underline font-black italic text-white dark:text-lightcolor mt-10"
        ) %>
      <% else %>
        <%= link_to(
          "Edit your email and password", edit_user_path,
          class: "text-lg underline font-black italic text-white dark:text-lightcolor mt-10"
        ) %>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :bottom_nav do %>
  <%= render partial: "layouts/bottom_navbar", locals: { unread_notifications: current_user&.notifications&.unread } %>
<% end %>
