<% profile_name = @profile.name.presence || "Anonymous" %>
<%= title "#{profile_name}'s Profile - Rails World 2024" %>

<% content_for :top_nav do %>
  <%= render partial: "layouts/primary_top_nav" %>
<% end %>

<div class="relative flex flex-col h-full items-center justify-between flex-1 bg-grey-50 pt-safe-area-header pb-safe-area-bottom-navbar">
  <div class="flex flex-col items-center bg-cover bg-bottom bg-no-repeat max-h-[430px] w-full" style="background-image: url(<%= asset_path 'background_design.svg' %>)">
    <div class="z-10 flex flex-col items-start w-full max-w-screen-sm px-5 pt-6 pb-12">
      <div class="flex flex-row items-center">
        <% if @profile.image.attached? %>
          <div class="flex flex-col items-center justify-center shrink-0 relative w-[120px] bg-cover bg-no-repeat bg-center h-[120px] rounded-full" style="background-image: url(<%= url_for(@profile.image) %>)">
          </div>
        <% else %>
          <div class="w-[120px] h-[120px] rounded-full bg-slate-300 p-5 flex flex-row items-center justify-center">
            <%= image_tag url_for("icons/user_avatar.svg") %>
          </div>
        <% end %>
        <div class="flex flex-col items-start ml-5">
          <div class="text-xl italic font-black text-red"> <%= profile_name %> </div>
          <% if @profile.job_title.present? %>
            <div class="text-lg text-gray-400"><%= @profile.job_title %></div>
          <% end %>
        </div>
      </div>
      <% if @profile.bio.present? %>
        <p class="mt-6 text-base"><%= @profile.bio %></p>
      <% end %>
      <div class="flex flex-row items-center justify-between w-full gap-4">
        <%= link_to(
          @profile.github_url,
          target: "_blank",
          class: [
            "flex flex-row grow items-center justify-center max-w-28 w-full h-14 rounded-lg mt-6",
            "bg-red": @profile.github_url.present?,
            "bg-grey-300 cursor-not-allowed": @profile.github_url.blank?
          ]
        ) do %>
          <img src="<%= asset_path 'github.svg' %>" alt="github" class="w-6 h-6">
        <% end %>
        <%= link_to(
          @profile.twitter_url,
          target: "_blank",
          class: [
            "flex flex-row grow items-center justify-center max-w-28 w-full h-14 rounded-lg mt-6",
            "bg-red": @profile.twitter_url.present?,
            "bg-grey-300 cursor-not-allowed": @profile.twitter_url.blank?
          ]
        ) do %>
          <img src="<%= asset_path 'twitter.svg' %>" alt="twitter" class="w-6 h-6">
        <% end %>
        <%= link_to(
          @profile.linkedin_url,
          target: "_blank",
          class: [
            "flex flex-row grow items-center justify-center max-w-28 w-full h-14 rounded-lg mt-6",
            "bg-red": @profile.linkedin_url.present?,
            "bg-grey-300 cursor-not-allowed": @profile.linkedin_url.blank?
          ]
        ) do %>
          <img src="<%= asset_path 'linkedin.svg' %>" alt="linkedin" class="w-6 h-6">
        <% end %>
      </div>
    </div>
  </div>

  <% if allowed_to?(:edit?, @profile, with: ProfilePolicy) %>
    <div class="flex flex-col items-center w-full gap-6 p-4">
      <% if @profile.is_public? %>
        <div class="p-6 bg-white rounded-2xl">
          <%= render inline: @profile.svg_qr_code(module_size: 4) %>
        </div>
      <% end %>

      <%= link_to(
        'Edit Profile', edit_profile_path(@profile.uuid),
        class: "text-red font-bold rounded-sm underline italic text-lg"
      ) %>
      <%= button_to(
        "Log out", user_session_path, method: :delete,
        form_class: "w-full max-w-screen-sm px-4",
        class: "w-full bg-white py-4 text-red font-black italic rounded-[10px] uppercase"
      ) %>
    </div>
  <% end %>
</div>

<% content_for :bottom_nav do %>
  <%= render partial: "layouts/bottom_navbar", locals: { unread_notifications: current_user&.notifications&.unread } %>
<% end %>
