<%# locals: (session:, speaker:, user_is_an_attendee:) %>

<div class="flex flex-col w-full p-5 mb-4 bg-white rounded-[20px] hover:shadow-[0_0_25px_rgba(0,0,0,0.1)]">
  <div class="flex flex-col w-full">
    <% if session.live? %>
      <div class="h-8 px-4 py-2 bg-green-500 rounded-lg bg-opacity-[.08] justify-center items-center inline-flex mb-4">
        <div class="grow basis-0 h-4 justify-center items-center gap-2 flex">
          <span class="relative flex h-4 w-4">
            <span class="animate-slow-ping absolute inline-flex h-full w-full rounded-full bg-green-500 opacity-75"></span>
            <span class="rounded-full h-4 w-4 bg-green-500"></span>
          </span>
          <span class="w-full text-xs">Session is live now.</span>
        </div>
      </div>
    <% elsif session.starting_soon? %>
      <div class="h-8 px-4 py-2 bg-yellow rounded-lg bg-opacity-[.08] justify-center items-center inline-flex mb-4">
        <div class="grow basis-0 h-4 justify-center items-center gap-2 flex">
          <span class="relative flex h-4 w-4">
            <span class="rounded-full h-4 w-4 bg-yellow"></span>
          </span>
          <span class="w-full text-xs">Session is starting soon.</span>
        </div>
      </div>
    <% elsif session.past? %>
      <div class="h-8 px-4 py-2 bg-blue-teal-light rounded-lg bg-opacity-[.08] justify-center items-center inline-flex mb-4">
        <div class="grow basis-0 h-4 justify-center items-center gap-2 flex">
          <span class="relative flex h-4 w-4">
            <span class="rounded-full h-4 w-4 bg-blue-teal-light"></span>
          </span>
          <span class="w-full text-xs">Session is over.</span>
        </div>
      </div>
    <% end %>

    <% if speaker %>
      <div class="flex justify-between w-full mb-2">
        <a href="<%= speaker_path(speaker) %>" class="flex w-full rounded-lg p-2 mr-2">
          <% if speaker.image&.attached? %>
            <div class="relative flex flex-col items-center justify-center w-12 h-12 mr-4 bg-center bg-no-repeat bg-cover rounded-full min-w-12 min-h-12" style="background-image: url(<%= url_for(speaker.image) %>)">
            </div>
          <% else %>
            <div class="flex flex-row items-center justify-center w-12 h-12 p-2 mr-4 rounded-full min-w-12 min-h-12 bg-slate-300">
              <%= inline_svg_tag "icons/user_avatar.svg" %>
            </div>
          <% end %>

          <div class="flex flex-col justify-center h-full">
            <h2 class="italic font-black text-red"><%= speaker.name %></h2>
            <p class="text-sm text-gray-400"><%= speaker.job_title %></p>
          </div>
        </a>

        <%# TODO: Bookmark location will be redesigned %>
        <div class="flex items-center px-2">
          <% if user_is_an_attendee %>
            <%= button_to(
              session_attendee_path(session_id: session.id, params: request.params[:starts_at]),
              method: :delete, form_class: "flex items-center"
            ) do %>
              <%= inline_svg_tag("icons/bookmark-full.svg") %>
            <% end %>
          <% else %>
            <%= button_to(
              session_attendee_path(session_id: session.id, params: request.params[:starts_at]),
              form_class: "flex items-center"
            ) do %>
              <%= inline_svg_tag("icons/bookmark-outline.svg") %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if speaker %>
      <a href="<%= session_path(session) %>" class="mb-4 group">
        <h3 class="text-xl italic font-bold text-red inline-block">
          <%= session.title %>
        </h3>
      </a>
    <% else %>
      <div class="flex flex-row justify-between w-full mb-4 grow">
        <a href="<%= session_path(session) %>" class="group w-full">
          <h3 class="text-xl italic font-bold text-red inline-block">
            <%= session.title %>
          </h3>
        </a>
        <% if user_is_an_attendee %>
          <%= button_to(
                session_attendee_path(session_id: session.id, params: request.params[:starts_at]),
                method: :delete, form_class: "flex items-center"
              ) do %>
            <%= inline_svg_tag("icons/bookmark-full.svg") %>
          <% end %>
        <% else %>
          <%= button_to(
                session_attendee_path(session_id: session.id, params: request.params[:starts_at]),
                form_class: "flex items-center"
              ) do %>
            <%= inline_svg_tag("icons/bookmark-outline.svg") %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if session.tags.exists? %>
      <div class="flex flex-wrap w-full gap-2 mb-4">
        <% session.tags.each do |tag| %>
          <div class="px-3 py-1.5 text-sm font-medium bg-transparent border rounded-lg border-bluegray-600 text-bluegray-600">
            <%= tag.name %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="flex flex-col">
      <div class="flex items-center mb-2">
        <%= inline_svg_tag("icons/calendar.svg", class: "w-[16px] h-[16px] mr-1 fill-grey-600") %>
        <span class="font-sans text-sm text-grey-600">
          <%= session.starts_at&.strftime("%b %d") %> -
          <%= session.starts_at&.strftime("%H:%M") %> to <%= session.ends_at&.strftime("%H:%M") %>
        </span>
      </div>

      <div class="flex items-center">
        <%= inline_svg_tag("icons/location.svg", class: "w-[16px] h-[16px] mr-1 fill-grey-600") %>
        <span class="font-sans text-sm text-grey-600"><%= session.location&.name %></span>
      </div>
    </div>
  </div>
</div>
