<div class="flex flex-col items-center h-full bg-gray-light">
  <div class="flex flex-col items-center w-full h-full max-w-screen-md px-5 py-10">
    <div class="flex w-full mb-4">
      <h1 class="text-4xl italic font-black text-gray-800">Agenda</h1>
    </div>

    <%= render partial: 'sessions/filters', locals: { resource: :sessions } %>

    <div class="flex flex-col w-full h-full">
      <% if @sessions.present? %>
        <% @sessions.each do |session| %>
          <%= render(
            partial: 'sessions/card',
            locals: {
              session: session, speaker: session.speakers.first,
              user_is_an_attendee: @user_session_ids.include?(session.id)
            }
          ) %>
        <% end %>
      <% elsif params[:starts_at].present? || active_session_filters? %>
        <div class="flex flex-col items-center justify-center w-full h-full">
          <p class="max-w-xs mb-4 font-bold text-center">No sessions match your current filters</p>
          <%= link_to 'Clear filters', sessions_path, class: "text-red underline font-bold italic text-lg" %>
        </div>
      <% else %>
        <div class="flex flex-col items-center justify-center w-full h-full">
          <div class="p-8 mb-6 bg-white rounded-full w-fit h-fit">
            <%= inline_svg_tag("icons/calendar.svg", size: "56", class: "fill-gray-400") %>
          </div>
          <p class="mb-4 font-bold text-center max-w-44">There are no sessions planned yet</p>
          <%= link_to 'Refresh', url_for, class: "text-red underline font-bold italic text-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
