<%= title "Agenda" %>

<% content_for :top_nav do %>
  <%= render partial: "layouts/primary_top_nav" %>
<% end %>

<div class="flex flex-col items-center h-full bg-grey-50 pt-safe-area-header dark:bg-[#0f171b]">
  <div class="flex flex-col items-center w-full h-full px-5 max-w-screen-md">
    <div class="sticky z-30 flex flex-col items-center w-full pt-6 top-safe-area-header bg-grey-50 dark:bg-[#0f171b]">
      <div class="flex w-full mb-4">
        <h1 class="text-3xl italic font-black text-gray-800 d-hotwire-native-none dark:text-lightcolor">Agenda</h1>
      </div>

      <%= render partial: 'sessions/filters', locals: { resource: :sessions } %>
    </div>

    <div class="flex flex-col w-full h-full mb-[12rem]">
      <% if @sessions.present? %>
        <% previous_date = nil %>
        <% @sessions.group_by(&:starts_at).each do |starts_at, sessions| %>
          <%= content_tag(
            :div,
            class: [
              "sticky z-20 flex items-center mb-5 bg-grey-50 dark:bg-[#0f171b]",
              "top-safe-area-with-filters": session_filter_params.present?,
              "top-safe-area-no-filters": session_filter_params.blank?
            ]
          ) do %>
            <div class="pt-2 pb-4 text-2xl font-bold text-grey-800 text-nowrap dark:text-lightcolor">
              <a id="<%= session_anchor(sessions.first) %>" class="scroll-mt-[240px]">
                <% if starts_at.to_date != previous_date && params[:starts_at].blank? %>
                  <%= starts_at.strftime("%A, %d - %H:%M") %>
                <% else %>
                  <%= starts_at.strftime("%H:%M") %>
                <% end %>
              </a>
            </div>
            <div class="w-full mx-2 mb-1 border-b dark:border-gray-600"></div>
            <div class="mb-1 text-gray-400 text-nowrap"><%= pluralize(sessions.length, "Session") %></div>
          <% end %>
          <% sessions.each do |session| %>
            <%= render(
              partial: 'sessions/card',
              locals: {
                session: session,
                user_is_an_attendee: @user_session_ids&.include?(session.id)
              }
            ) %>
          <% end %>
          <% previous_date = starts_at.to_date %>
        <% end %>
      <% elsif params[:starts_at].present? || session_filter_params.present? %>
        <div class="flex flex-col items-center justify-center w-full h-full">
          <p class="max-w-xs mb-4 font-bold text-center dark:text-lightcolor">No sessions match your current filters</p>
          <%= link_to 'Clear filters', sessions_path, class: "text-red dark:text-off-red underline font-bold italic text-lg" %>
        </div>
      <% else %>
        <div class="flex flex-col items-center justify-center w-full h-full">
          <div class="p-8 mb-6 bg-white rounded-full w-fit h-fit">
            <%= inline_svg_tag("icons/calendar.svg", size: "56", class: "fill-gray-400") %>
          </div>
          <p class="mb-4 font-bold text-center max-w-44">There are no sessions planned yet</p>
          <%= link_to 'Refresh', url_for, class: "text-red dark:text-off-red underline font-bold italic text-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :bottom_nav do %>
  <%= render partial: "layouts/bottom_navbar", locals: { unread_notifications: current_user&.notifications&.unread } %>
<% end %>
