<div class="flex flex-col items-center bg-gray-light">
  <div class="flex flex-col items-center w-full max-w-screen-md px-5 py-10">
    <div class="flex w-full mb-4">
      <h1 class="text-4xl italic font-black text-gray-800">Agenda</h1>
    </div>

    <div class="flex justify-between w-full mb-6">
      <div class="flex items-center gap-2 overflow-x-scroll no-scrollbar">
        <%= link_to 'All dates', sessions_path, class: "flex min-w-fit items-center justify-center px-4 py-2 rounded-full font-medium #{active_pill_class}" %>
        <% current_conference.session_dates.each do |session_date| %>
          <%= link_to session_date.strftime("%a, %d"),
                      sessions_path(on_date: session_date),
                      class: "flex min-w-fit items-center justify-center px-4 py-2 font-medium rounded-full #{active_pill_class(session_date)}" %>
        <% end %>
      </div>

      <div class="flex items-center justify-center ml-3 p-2 rounded-full min-w-[40px] min-h-[40px] <%= active_filters? ? "bg-red text-white" : "bg-white text-red" %>">
        <div class="relative" data-controller="dropdown">
          <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="flex items-center justify-center p-2 rounded-full">
            <%= inline_svg_tag("icons/filters.svg", size: "18") %>
          </button>

          <div
            data-dropdown-target="menu"
            class="hidden transition transform origin-top-right absolute right-0"
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95">
            <div class="pt-2 pb-2 bg-white rounded-lg shadow-lg flex-col inline-flex absolute top-2 right-0 w-40 max-w-40">
              <%= form_with url: sessions_path, class: "grid", method: :get do |form| %>
                <%= form.hidden_field :on_date, value: params[:on_date] %>

                <% SessionQuery::STATUS_SCOPES.each do |name| %>
                  <div class="self-stretch px-4 py-2 items-center gap-2 inline-flex">
                    <%= form.check_box name, checked: params[name] == "1", class: "w-4 h-4 rounded text-red", skip_base_styling: true %>
                    <div class="text-gray-800 font-medium">
                      <%= form.label name do %>
                        <%= t("views.status_filters.#{name}") %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <div class="h-6 px-2.5 py-4 rounded justify-center items-center gap-2.5 inline-flex">
                  <div class="text-lg text-red italic underline font-black">
                    <%= form.submit t("views.status_filters.submit"), name: "", class: "text-lg text-red italic underline font-black" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if active_filters? %>
      <div class="flex w-full mb-2 gap-2">
        <div class="flex flex-wrap ">
          <div class="h-8 py-1 text-base font-bold leading-tight">Active filters:</div>
        </div>
        <div class="flex flex-wrap gap-2">
          <% SessionQuery::STATUS_SCOPES.each do |name| %>
            <% next unless params[name] == "1" %>
            <div class="h-8 px-4 py-2 bg-green-dark bg-opacity-[.08] rounded-lg gap-2 inline-flex">
              <div class="gap-2 flex">
                <div class="w-4 h-4 bg-green-dark rounded-full"></div>
                <div class="text-xs font-medium"><%= t("views.status_filters.#{name}") %></div>
              </div>
              <div class="w-4 h-4">
                <% modified_params = request.query_parameters.deep_dup %>
                <% modified_params.delete(name) %>

                <%= link_to inline_svg_tag("icons/close.svg"), sessions_path(modified_params) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="flex flex-col w-full h-full">
      <% @sessions.each do |session| %>
        <%= render partial: 'sessions/card', locals: { session: session, speaker: session.speakers.first } %>
      <% end %>
    </div>
  </div>
</div>
