<div class="relative flex flex-col items-center justify-between flex-1 pb-5 bg-grey-50">
  <div class="w-full px-5 pt-6 pb-12 bg-bottom bg-no-repeat bg-cover" style="background-image: url(<%= asset_path 'background_design.svg' %>)">
    <div class="flex flex-col max-w-screen-sm mx-auto">

      <% if @speaker.present? %>
        <div class="flex flex-row items-center mb-4">
          <a href="<%= speaker_path(@speaker) %>" class="flex w-full hover:bg-[#FAE7E8]/[0.5] rounded-lg p-2">
            <% if @speaker.profile&.image&.attached? %>
              <div class="relative w-12 h-12 bg-center bg-no-repeat bg-cover rounded-full min-w-12 min-h-12" style="background-image: url(<%= url_for(@speaker.profile.image) %>)">
              </div>
            <% else %>
              <div class="flex items-center justify-center w-12 h-12 p-3 rounded-full min-w-12 min-h-12 bg-slate-300">
                <%= inline_svg_tag "icons/user_avatar.svg" %>
              </div>
            <% end %>

            <div class="w-full flex flex-col ml-4">
              <p class="text-base italic font-black text-red"><%= @speaker.profile&.name %></p>
              <p class="font-normal text-[13px] text-gray-400"><%= @speaker.profile&.job_title %></p>
            </div>
          </a>

          <% if current_user.sessions.pluck(:id).include?(@session.id) %>
            <%= button_to(
              session_attendee_path(session_id: @session.id, params: request.params[:starts_at]),
              method: :delete, form_class: "flex items-center ml-5"
            ) do %>
              <%= inline_svg_tag("icons/bookmark-full.svg") %>
            <% end %>
          <% else %>
            <%= button_to(
              session_attendee_path(session_id: @session.id, params: request.params[:starts_at]),
              form_class: "flex items-center ml-5"
            ) do %>
              <%= inline_svg_tag("icons/bookmark-outline.svg") %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if @speaker.present? %>
        <h1 class="text-[20px] text-red italic mb-4 font-bold"><%= @session.title %></h1>
      <% else %>
        <div class="flex flex-row justify-between w-full grow">
          <h1 class="text-[20px] text-red italic mb-4 font-bold"><%= @session.title %></h1>
          <% if current_user.sessions.pluck(:id).include?(@session.id) %>
            <%= button_to(
              session_attendee_path(session_id: @session.id, params: request.params[:starts_at]),
              method: :delete, form_class: "flex items-center ml-5 mb-4"
            ) do %>
              <%= inline_svg_tag("icons/bookmark-full.svg") %>
            <% end %>
          <% else %>
            <%= button_to(
              session_attendee_path(session_id: @session.id, params: request.params[:starts_at]),
              form_class: "flex items-center ml-5 mb-4"
            ) do %>
              <%= inline_svg_tag("icons/bookmark-outline.svg") %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if @session.tags.present? %>
        <div class="flex flex-row flex-wrap items-center gap-4 mb-[18px]">
          <% @session.tags.each do |tag| %>
            <div class="bg-white border border-bluegray-600 rounded-lg px-3 py-[6px] text-[13px] text-bluegray-600">
              <%= tag.name %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @session.description.present? %>
        <div class="mb-4 text-base leading-6">
          <%= simple_format(@session.description) %>
        </div>
      <% end %>

      <div class="flex flex-row items-center mb-2">
        <%= inline_svg_tag "calendar.svg", class: "fill-grey-600 w-3 h-3 mr-2" %>
        <p class="font-sans text-[13px] text-grey-600">
          <%= @session.starts_at&.strftime("%b %d") %> -
          <%= @session.starts_at&.strftime("%H:%M") %> to <%= @session.ends_at&.strftime("%H:%M") %>
        </p>
      </div>

      <div class="flex flex-row items-center mb-3">
        <%= inline_svg_tag "location_pin.svg", class: "fill-grey-600 w-3 h-3 mr-2" %>
        <p class="text-[13px] text-grey-600"><%= @session.location.name %></p>
      </div>
    </div>
  </div>

  <% if @speaker %>
    <div class="flex flex-col items-center w-full p-5 mt-6">
      <div class="flex flex-col items-start w-full max-w-screen-sm">
        <p class="text-black mb-4 text-[23px] font-bold italic">About this speaker</p>
        <div class="w-full p-5 bg-white rounded-lg">
          <a href="<%= speaker_path(@speaker) %>" class="flex items-center w-full hover:bg-[#FAE7E8]/[0.5] rounded-lg mb-2 p-2 mr-2">
            <% if @speaker.profile&.image&.attached? %>
              <div class="relative flex flex-col items-center justify-center w-12 h-12 bg-center bg-no-repeat bg-cover rounded-full min-w-12 min-h-12 " style="background-image: url(<%= url_for(@speaker.profile.image) %>)">
              </div>
            <% else %>
              <div class="flex flex-row items-center justify-center w-12 h-12 p-3 rounded-full bg-slate-300">
                <%= inline_svg_tag "icons/user_avatar.svg" %>
              </div>
            <% end %>
            <div class="flex flex-col ml-5">
              <p class="text-base italic font-black text-red"><%= @speaker.profile&.name %></p>
              <p class="font-normal text-[13px] text-gray-400"><%= @speaker.profile&.job_title %></p>
            </div>
          </a>
          <p class="text-base font-medium leading-5">
            <%= @speaker.profile&.bio %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
