<div class="relative flex flex-col items-center justify-between flex-1 pb-5 bg-grey-50">
  <div class="w-full px-5 pt-6 pb-12 bg-bottom bg-no-repeat bg-cover" style="background-image: url(<%= asset_path 'background_design.svg' %>)">
    <div class="flex flex-col max-w-screen-sm mx-auto">
      <div class="flex flex-row justify-between w-full grow">
        <h1 class="text-[20px] text-red italic mb-4 font-bold"><%= @session.title %></h1>
        <% if current_user.sessions.pluck(:id).include?(@session.id) %>
          <%= button_to(
            session_attendee_path(session_id: @session.id, params: request.params[:starts_at]),
            method: :delete, form_class: "flex items-center ml-5 mb-4"
          ) do %>
            <%= inline_svg_tag("icons/bookmark-full.svg") %>
          <% end %>
        <% else %>
          <%= button_to(
            session_attendee_path(session_id: @session.id, params: request.params[:starts_at]),
            form_class: "flex items-center ml-5 mb-4"
          ) do %>
            <%= inline_svg_tag("icons/bookmark-outline.svg") %>
          <% end %>
        <% end %>
      </div>

      <% if @session.speakers.present? %>
        <div class="flex w-full mb-4 overflow-x-auto gap-x-5 no-scrollbar">
          <% @session.speakers.each do |speaker| %>
            <div class="inline-flex justify-between flex-shrink-0 pl-5 border-l first:border-0 first:pl-0">
              <% if speaker.image&.attached? %>
                <div class="relative flex flex-col items-center justify-center w-12 h-12 mr-4 bg-center bg-no-repeat bg-cover rounded-full min-w-12 min-h-12" style="background-image: url(<%= url_for(speaker.image) %>)">
                </div>
              <% else %>
                <div class="flex flex-row items-center justify-center w-12 h-12 p-3 mr-4 rounded-full min-w-12 min-h-12 bg-slate-300">
                  <%= inline_svg_tag "icons/user_avatar.svg" %>
                </div>
              <% end %>

              <a href="<%= speaker_path(speaker) %>">
                <h2 class="text-base italic font-black text-red"><%= speaker.name %></h2>
                <p class="font-normal text-[13px]"><%= speaker.job_title %></p>
              </a>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @session.tags.present? %>
        <div class="flex flex-row flex-wrap items-center gap-4 mb-[18px]">
          <% @session.tags.each do |tag| %>
            <div class="bg-white border border-bluegray-600 rounded-lg px-3 py-[6px] text-[13px] text-bluegray-600">
              <%= tag.name %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @session.description.present? %>
        <div class="mb-4 text-base font-medium leading-6">
          <%= simple_format(@session.description) %>
        </div>
      <% end %>

      <div class="flex flex-row items-center mb-3">
        <%= inline_svg_tag "calendar.svg", class: "fill-grey-600 w-3 h-3 mr-2" %>
        <p class="text-[13px] text-grey-600"><%= @session.starts_at.strftime("%A, %b %d") %></p>
      </div>

      <div class="flex flex-row items-center mb-3">
        <%= inline_svg_tag "clock.svg", class: "fill-grey-600 w-3 h-3 mr-2" %>
        <p class="text-[13px] text-grey-600"><%= @session.starts_at.strftime("%H:%M") %>
          - <%= @session.ends_at.strftime("%H:%M") %></p>
      </div>

      <div class="flex flex-row items-center mb-3">
        <%= inline_svg_tag "location_pin.svg", class: "fill-grey-600 w-3 h-3 mr-2" %>
        <p class="text-[13px] text-grey-600"><%= @session.location.name %></p>
      </div>
    </div>
  </div>



  <% if @session.speakers.present? %>
    <div class="flex flex-col items-center w-full p-5 mt-6">
      <div class="flex flex-col items-start w-full max-w-screen-sm">
        <p class="text-black mb-4 text-[23px] font-bold italic">
          <%= @session.speakers.count > 1 ? 'About speakers' : 'About this speaker' %>
        </p>
        <div class="flex flex-col gap-4">
          <% @session.speakers.each do |speaker| %>
            <div class="w-full p-5 bg-white rounded-lg">
              <div class="flex flex-row items-center mb-4">
                <% if speaker.image&.attached? %>
                  <div class="relative flex flex-col items-center justify-center w-12 h-12 bg-center bg-no-repeat bg-cover rounded-full min-w-12 min-h-12 " style="background-image: url(<%= url_for(speaker.image) %>)">
                  </div>
                <% else %>
                  <div class="flex flex-row items-center justify-center w-12 h-12 p-3 rounded-full bg-slate-300">
                    <%= inline_svg_tag "icons/user_avatar.svg" %>
                  </div>
                <% end %>
                <a href="<%= speaker_path(speaker) %>" class="flex flex-col ml-5">
                  <p class="text-base italic font-black text-red"><%= speaker.name %></p>
                  <p class="font-normal text-[13px]"><%= speaker.job_title %></p>
                </a>
              </div>
              <p class="text-base font-medium leading-5">
                <%= speaker.bio %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>



</div>
