<%= title "Forgot password" %>

<% content_for :top_nav do %>
  <%= render partial: "layouts/primary_top_nav" %>
<% end %>

<div class="flex flex-col items-center flex-1 h-screen px-5 pb-10 bg-purple-dark dark:bg-[#0f171b] pt-safe-area-header">
  <%= form_with url: password_reset_path, class: "flex flex-col h-full w-full max-w-screen-sm justify-between pt-10", method: :post do |form| %>
    <div class="flex flex-col">
      <div class="flex flex-col w-full mb-6">
        <h1 class="mb-4 text-4xl italic font-black text-white">Forgot Password</h1>
        <p class="font-bold text-white">We'll send you a link to create a new password to the email address of your choice</p>
      </div>

      <div class="w-full">
        <div class="flex flex-col w-full mb-10">
          <%= form.label :email, class: "text-white italic font-bold mb-2" %>
          <%= form.email_field :email, required: true, placeholder: "email@example.com", data: { test_id: "email_field" }, name: "email" %>
        </div>

        <div class="flex flex-col items-center mb-10">
          <span class="text-white">Just remembered your password? <%= link_to "Log in instead", new_user_session_path, class: "font-black italic underline text-white" %></span>
        </div>
      </div>
    </div>

    <%= form.button "Send recovery email", type: "submit", class: "w-full bg-red py-4 text-white font-black italic rounded-[10px] uppercase" %>
  <% end %>
</div>
