<%# locals: (profile:, message:) %>

<div class="p-5 bg-white flex flex-row items-start w-full rounded-[20px]">
  <div class="mr-4 rounded-full">
    <% if profile.image.attached? %>
      <div class="flex flex-col items-center justify-center relative w-[48px] h-[48px] rounded-full">
        <%= image_tag url_for(profile.image) %>
        <%= inline_svg_tag "icon_notification.svg", class: "absolute z-10 bottom-[-4px] right-[-4px]" %>
      </div>
    <% else %>
      <div class="relative w-[48px] h-[48px] rounded-full bg-slate-300 p-3 flex flex-row items-center justify-center">
        <%= image_tag url_for("icons/user_avatar.svg") %>
        <%= inline_svg_tag "icon_notification.svg", class: "absolute z-10 bottom-[-4px] right-[-4px]" %>
      </div>
    <% end %>
  </div>
  <div class="flex flex-col items-start">
    <div class="flex flex-row items-center justify-start mb-1">
      <% starts_in = minutes_between(DateTime.now, DateTime.now) %>
      <% if starts_in > 1 %>
        <p class="text-base font-bold text-black">Starting in <%= starts_in %> minutes <span class="text-[13px] text-grey-300">&nbsp;· <%= starts_in %>m</span></p>
      <% else %>
        <p class="text-base font-bold text-black">Starting now</p> <span class="text-[13px] text-grey-300">&nbsp;· now</span>
      <% end %>
    </div>
    <p class="text-base text-grey-60000"><%= message %></p>
  </div>
</div>
