<%= title "Sign up" %>

<% content_for :top_nav do %>
  <%= render partial: "layouts/primary_top_nav" %>
<% end %>

<div class="flex flex-col items-center flex-1 px-5 pb-10 bg-purple-dark dark:bg-[#0f171b] pt-safe-area-header">
  <%= form_with model: @user, url: registration_path, class: "flex flex-col h-full justify-between w-full max-w-screen-sm pt-10" do |form| %>
    <div class="flex flex-col">
      <div class="flex flex-col w-full mb-6">
        <h1 class="mb-4 text-4xl italic font-black text-white">Sign Up</h1>
      </div>

      <div class="w-full">
        <%= render partial: "shared/form_errors", locals: { errors: form.object.errors.full_messages } %>

        <div class="mb-10">
          <div class="flex flex-col w-full mb-6">
            <%= form.label :email, class: "text-white italic font-bold mb-2" %>
            <%= form.email_field :email, required: true, placeholder: "email@example.com", data: { test_id: "email_field" } %>
            <%= form.error_message :email %>
          </div>

          <div class="flex flex-col mb-6">
            <%= form.label :password, class: "text-white italic font-bold mb-2" %>
            <%= form.password_field(
              :password, required: true,
              data: { test_id: "password_field" },
              pattern: ".{8,}",
              title:"8 characters minimum",
              placeholder: "Enter your password"
            ) %>
            <p class="pt-1 text-xs text-white">Password should contain at least 8 characters</p>
          </div>

          <div class="flex flex-col">
            <%= form.label :password_confirmation, class: "text-white italic font-bold mb-2" %>
            <%= form.password_field(
              :password_confirmation, required: true,
              data: { test_id: "password_confirmation_field" },
              pattern: ".{8,}",
              title:"8 characters minimum",
              placeholder: "Confirm password"
            ) %>
            <%= form.error_message :password_confirmation %>
          </div>
        </div>

        <div class="flex flex-col items-center mb-10">
          <span class="text-white">Already have an account? <%= link_to "Log in instead", new_user_session_path, class: "font-black italic underline text-white" %></span>
        </div>
      </div>
    </div>

    <%= form.button(
      "Sign Up",
      data: { test_id: "sign_up_button" },
      class: [
        "w-full bg-red py-4 text-white font-black italic rounded-[10px] uppercase",
        "disabled:bg-gray-400 disabled:cursor-not-allowed"
      ]
    ) %>
  <% end %>
</div>
