<div class="flex flex-col items-center h-full bg-gray-light">
  <div class="flex flex-col items-center w-full h-full max-w-screen-md px-5 py-10">
    <div class="flex w-full mb-4">
      <h1 class="text-4xl italic font-black text-gray-800">My Schedule</h1>
    </div>

    <div class="flex justify-between w-full mb-6">
      <div class="flex items-center gap-2 overflow-x-scroll no-scrollbar">
        <%= link_to 'All dates', schedule_path, class: "flex min-w-fit items-center justify-center px-4 py-2 rounded-full font-medium #{session_pill_class}" %>
        <% current_conference.session_dates.each do |session_date| %>
          <%= link_to session_date.strftime("%a, %d"),
                      schedule_path(on_date: session_date),
                      class: "flex min-w-fit items-center justify-center px-4 py-2 font-medium rounded-full #{session_pill_class(session_date)}" %>
        <% end %>
      </div>

      <div class="flex items-center justify-center ml-3 p-2 bg-white rounded-full min-w-[40px] min-h-[40px]">
        <%= inline_svg_tag("icons/filters.svg", size: "18") %>
      </div>
    </div>

    <div class="flex flex-col w-full h-full">
      <% if @sessions.present? %>
        <% @sessions.each do |session| %>
          <%= render partial:'sessions/card', locals: { session: session, speaker: session.speakers.first } %>
        <% end %>
      <% elsif params[:on_date].present? %>
        <div class="flex flex-col items-center justify-center w-full h-full">
          <p class="max-w-xs mb-4 font-bold text-center">No sessions found with the selected filters</p>
          <%= link_to 'Clear filters', schedule_path, class: "text-red underline font-bold italic text-lg" %>
        </div>
      <% else %>
        <div class="flex flex-col items-center justify-center w-full h-full">
          <div class="p-8 mb-6 bg-white rounded-full w-fit h-fit">
            <%= inline_svg_tag("icons/clock.svg", size: "56", class: "fill-gray-400") %>
          </div>
          <p class="mb-4 font-bold text-center max-w-52">You don't have any sessions in your schedule yet</p>
          <%= link_to 'Explore the Agenda', sessions_path, class: "text-red underline font-bold italic text-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
