<%= form_with model: current_user.profile, url: notifications_settings_path, method: :put, class: "flex flex-col items-center w-full p-5", data: {controller: 'form', form_target: 'form'} do |form| %>
  <div class="max-w-screen-sm w-full flex flex-col mt-6">
    <p class="text-black font-bold mb-2 italic">Notifications Settings</p>
    <div class="rounded-md w-full overflow-hidden mb-10">
      <div class="flex flex-row items-center bg-white justify-between w-full p-4 border-b border-gray-6">
      <%= form.label :mail_notifications, "Mail notifications", class: "grow font-medium text-slate-900 text-base cursor-pointer mr-2" %>
      <label class="inline-flex items-center cursor-pointer">
          <%= form.check_box :mail_notifications, class: "sr-only peer", data: {action: 'change->form#submit'} %>
          <div class="relative w-11 h-6 bg-gray-6 rounded-full peer dark:bg-gray-6 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-red"></div>
      </label>
      </div>
      <div class="flex flex-row items-center bg-white justify-between w-full p-4">
      <%= form.label :in_app_notifications, "In-app notifications", class: "grow font-medium text-slate-900 text-base cursor-pointer mr-2" %>
      <label class="inline-flex items-center cursor-pointer">
          <%= form.check_box :in_app_notifications, class: "sr-only peer", data: {action: 'change->form#submit'} %>
          <div class="relative w-11 h-6 bg-gray-6 rounded-full peer dark:bg-gray-6 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-red"></div>
      </label>
      </div>
    </div>
  </div>
<% end %>
