<div class="flex flex-col items-center flex-1 px-5 py-10 bg-purple-dark">
  <%= form_with model: @user, url: user_session_path, class: "flex flex-col h-full justify-between w-full max-w-screen-sm" do |form| %>
    <div class="flex flex-col items-center">
      <%= inline_svg_tag("main_logo_with_date.svg", class: "w-full mb-10") %>
      <div class="flex flex-col items-center mb-10">
        <h1 class="mb-4 text-4xl italic font-black text-white">Welcome!</h1>
        <h3 class="text-lg font-bold text-white">Please log in to continue</h3>
      </div>

      <div class="w-full">
        <div class="mb-10">
          <div class="flex flex-col w-full mb-6">
            <%= form.label :email, class: "text-white italic font-bold mb-2" %>
            <%= form.email_field :email, required: true, placeholder: "email@example.com", data: { test_id: "email_field" } %>
          </div>

          <div class="flex flex-col">
            <div class="flex flex-row justify-between">
              <%= form.label :password, class: "text-white italic font-bold mb-2" %>
              <%= link_to "Forgot password?", new_password_reset_path, class: "font-black italic underline text-white" %>
            </div>
            <%= form.password_field :password, required: true, placeholder: "Password", data: { test_id: "password_field" } %>
          </div>
        </div>

        <div class="flex flex-col items-center mb-10">
          <%= link_to "View as guest", sessions_path, class: "font-black italic underline text-white mb-10" %>
          <%= link_to "Sign up", new_registration_path, class: "font-black italic underline text-white mb-10" %>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <%= form.button "Log in", type: "submit", data: { test_id: "sign_in_button" }, class: "w-full bg-red py-4 text-white font-black italic rounded-[10px] uppercase" %>
    </div>
  <% end %>
</div>
