<%= title "Log in" %>

<% content_for :top_nav do %>
  <header class="hidden pt-safe-area-2 bg-purple-dark d-hotwire-native-block"></header>
<% end %>

<div class="flex flex-col items-center flex-1 px-5 pb-10 pt-safe-area-2 bg-purple-dark native-safe-area-2">
  <%= form_with model: @user, url: user_session_path, class: "flex flex-col h-full justify-between w-full max-w-screen-sm" do |form| %>
    <div class="flex flex-col items-center">
      <%= image_tag("main_logo_with_date.png", class: "w-full mt-14 mb-10 native-mt-0") %>

      <div class="flex flex-col items-center mb-10">
        <h1 class="mb-4 text-4xl italic font-black text-white">Welcome!</h1>
        <h3 class="text-lg font-bold text-white">Please log in to continue</h3>
      </div>

      <div class="w-full">
        <div class="mb-10">
          <div class="flex flex-col w-full mb-6">
            <%= form.label :email, class: "text-white italic font-bold mb-2" %>
            <%= form.email_field :email, required: true, placeholder: "email@example.com", data: { test_id: "email_field" } %>
          </div>

          <div class="flex flex-col">
            <div class="flex flex-row justify-between">
              <%= form.label :password, class: "text-white italic font-bold mb-2" %>
              <%= link_to "Forgot password?", new_password_reset_path, class: "font-black italic underline text-white" %>
            </div>
            <div class="relative" data-controller="password-visibility">
              <%= form.password_field :password, required: true, class: "peer w-full", placeholder: "Password", data: { test_id: "password_field", "password-visibility-target": "input" } %>
              <button class="absolute text-gray-300 right-3 top-1/2 -translate-y-1/2 hover:text-white peer-focus:text-gray-400 peer-focus:hover:text-gray-600" type="button" data-action="password-visibility#toggle">
                <%= inline_svg_tag("icons/eye-empty.svg", size: "22", data: { "password-visibility-target": "icon" }) %>
                <%= inline_svg_tag("icons/eye-off.svg", size: "22", class: "hidden", data: { "password-visibility-target": "icon" }) %>
              </button>
            </div>
          </div>
        </div>

        <div class="flex flex-col items-center mb-10">
          <%= link_to "Sign up", new_registration_path, class: "font-black italic underline text-white mb-5" %>
          <%= link_to "View as guest", sessions_path, class: "font-black italic underline text-white mb-5", data: { test_id: "view_as_guest_btn" } %>
        </div>
      </div>
    </div>

    <div class="flex flex-col">
      <%= form.button(
        "Log in",
        data: { test_id: "sign_in_button" },
        class: [
          "w-full bg-red py-4 text-white font-black italic rounded-[10px] uppercase",
          "disabled:bg-gray-400 disabled:cursor-not-allowed"
        ]
      ) %>
    </div>
  <% end %>
</div>
