<div class="pb-14">
  <div class="fixed bottom-0 left-0 right-0 z-30 flex flex-row items-center justify-center pt-2 pb-1 bg-white border-t border-b h-14 border-grey-200">
    <div class="flex flex-row items-center justify-around w-full max-w-screen-sm text-[11px]">
      <%= link_to(
        sessions_path(
          starts_at: current_starts_at_filter,
          anchor: session_anchor(current_agenda_session)
        ),
        class: [
          nav_text_class_for([sessions_path, root_path, "/speakers"]),
          "flex flex-col items-center justify-center"
        ]
      ) do %>
        <%= inline_svg_tag "icons/calendar.svg", class: nav_icon_class_for([sessions_path, root_path, "/speakers"]) %>
        Agenda
      <% end %>

      <%= link_to(
        schedule_path(
          starts_at: current_starts_at_filter,
          anchor: session_anchor(current_schedule_session)
        ),
        class: [
          nav_text_class_for([schedule_path]),
          "flex flex-col items-center justify-center"
        ]
      ) do %>
        <%= inline_svg_tag "icons/clock.svg", class: nav_icon_class_for([schedule_path]) %>
        My Schedule
      <% end %>

      <% if user_signed_in? %>
        <%= link_to(
        user_signed_in? ? profile_path(current_profile&.uuid) : new_user_session_path
          class: [
            nav_text_class_for(["/profiles"]),
            "flex flex-col items-center justify-center"
          ]
        ) do %>
          <%= inline_svg_tag(
            "icons/avatar_no_fill.svg",
            class: nav_icon_class_for(["/profiles"])
          ) %>
          Profile
        <% end %>
      <% else %>
        <%= link_to(
          new_user_session_path,
          class: [
            nav_text_class_for(["/profiles"]),
            "flex flex-col items-center justify-center"
          ]
        ) do %>
          <%= inline_svg_tag(
            "icons/avatar_no_fill.svg",
            class: nav_icon_class_for(["/profiles"])
          ) %>
          Profile
        <% end %>
      <% end %>

      <%= link_to(
        notifications_path,
        class: [
          nav_text_class_for([notifications_path, notification_settings_path]),
          "relative flex flex-col items-center justify-center"
        ]
      ) do %>
        <%= inline_svg_tag "icons/bell.svg", class: nav_icon_class_for([notifications_path, notification_settings_path]) %>
        <% if unread_notifications.present? %>
          <div class="absolute -top-0.5 right-0 w-[18px] h-[18px] rounded-full bg-red flex justify-center items-center">
            <span class="text-[11px] text-white font-bold px-1">
              <%= unread_notifications.count < 10 ? unread_notifications.count : "+9" %>
            </span>
          </div>
        <% end %>
        Notifications
      <% end %>

      <%= link_to(
        about_path,
        class: [
          nav_text_class_for([about_path]),
          "flex flex-col items-center justify-center"
        ]
      ) do %>
        <%= inline_svg_tag "icons/info_circle.svg", class: nav_icon_class_for([about_path]) %>
        About
      <% end %>
    </div>
  </div>
</div>
