<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>RailsWorld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js" data-turbo-track="reload"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col h-full bg-gray-8"data-controller="web-push-notifications">
    <main class="relative flex flex-col flex-1 w-full mx-auto overflow-auto">
      <% if show_header? %>
        <%= render partial: "layouts/header" %>
      <% end %>

      <% flash.each do |type, message| %>
        <% if message.present? && message.is_a?(String) %>
          <%= render partial: "layouts/flash_message", locals: { message: message } %>
        <% end %>
      <% end %>

      <%= yield %>
    </main>
    <%= render partial: "layouts/bottom_navbar" if user_signed_in? %>
  </body>
</html>
