<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>RailsWorld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full bg-gray-8">
    <main class="relative flex flex-col w-full h-full mx-auto">
      <% if !current_page?(new_session_path) %>
        <div class="flex justify-center w-full py-6 mx-auto border-b border-b-white bg-purple-dark">
          <div class="flex max-w-screen-sm px-5">
            <%= link_to homepage_link do %>
              <%= inline_svg_tag("main_logo.svg", class: "w-full") %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% flash.each do |type, message| %>
        <% if message.present? && message.is_a?(String) %>
          <%= render partial: "layouts/flash_message", locals: { message: message }%>
        <% end %>
      <% end %>
      <%= yield %>
      <% if user_signed_in? %>
        <%= button_to "Log out", session_path, method: :delete %>
      <% end %>
    </main>
  </body>
</html>
