<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>RailsWorld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>

  <body class="h-full">
    <main class="relative flex flex-col w-full h-full mx-auto">
      <% if !current_page?(new_session_path) && !current_page?(about_path) %>
        <div class="flex justify-center w-full py-6 mx-auto border-b border-b-white bg-purple-dark">
          <div class="flex max-w-screen-sm px-5">
            <%= link_to homepage_link do %>
              <%= inline_svg_tag("main-logo.svg", class: "w-full") %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% flash.each do |type, message| %>
        <% if message.present? && message.is_a?(String) %>
          <div><%= notice %></div>
          <div><%= alert %></div>
        <% end %>
      <% end %>
      <%= yield %>
      <% if user_signed_in? %>
        <%= button_to "Log out", session_path, method: :delete %>
      <% end %>
    </main>
  </body>
</html>
