<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>RailsWorld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="<%= image_path "homescreen_icon.png" %>">

    <%= render 'layouts/apple_splash_screen' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col h-full bg-purple-dark">
    <main class="flex overflow-auto relative flex-col flex-1 mx-auto w-full bg-gray-8">
      <% if show_header? %>
        <%= render partial: "layouts/header" %>
      <% end %>

      <% flash.each do |type, message| %>
        <% if message.present? && message.is_a?(String) %>
          <%= render partial: "layouts/flash_message", locals: { message: message } %>
        <% end %>
      <% end %>

      <%= yield %>
    </main>
    <%= render partial: "layouts/bottom_navbar" if user_signed_in? %>
  </body>
</html>
