<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>RailsWorld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-refresh-scroll" content="preserve">
    <meta name="turbo-refresh-method" content="morph">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col h-full bg-gray-8">
    <main class="relative flex flex-col flex-1 w-full mx-auto overflow-auto">
      <% if show_header? %>
        <%= render partial: "layouts/header" %>
      <% end %>

      <% flash.each do |type, message| %>
        <% if message.present? && message.is_a?(String) %>
          <%= render partial: "layouts/flash_message", locals: { message: message } %>
        <% end %>
      <% end %>

      <%= yield %>
    </main>
    <%= render partial: "layouts/bottom_navbar" if user_signed_in? %>
  </body>
</html>
