<!DOCTYPE html>
<html>
<head>
  <title>RailsWorld</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<main class="flex flex-col container mx-auto flex">
  <div class="flex flex-row items-center justify-center p-6 bg-violet-900">
    <%= image_tag url_for("rails_world_logo.svg") %>
  </div>
  <div><%= notice %></div>
  <div><%= alert %></div>

  <%= yield %>

  <div class="flex flex-row gap-2">
    <% if user_signed_in? %>
      <%= link_to "Edit Password", edit_password_path %>
      <%= button_to "Log out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_registration_path %>
      <%= link_to "Log in", new_session_path %>
    <% end %>
  </div>
</main>
</body>
</html>
